In [10]:
import pandas as pd
import numpy as np

In [11]:
dataset = pd.read_csv('hour.csv')

In [12]:
dataset.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [14]:
# maybe change all 4 values to 3
dataset.weathersit.value_counts()

weathersit
1    11413
2     4544
3     1419
4        3
Name: count, dtype: int64

In [19]:
# pd.set_option('display.float_format', lambda x: '%.5f' % x)
dataset.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000,17379.00000
mean,8690.00000,2.50164,0.50256,6.53778,11.54675,0.02877,3.00368,0.68272,1.42528,0.49699,0.47578,0.62723,0.19010,35.67622,153.78687,189.46309
std,5017.02950,1.10692,0.50001,3.43878,6.91441,0.16717,2.00577,0.46543,0.63936,0.19256,0.17185,0.19293,0.12234,49.30503,151.35729,181.38760
min,1.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.02000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000
25%,4345.50000,2.00000,0.00000,4.00000,6.00000,0.00000,1.00000,0.00000,1.00000,0.34000,0.33330,0.48000,0.10450,4.00000,34.00000,40.00000
50%,8690.00000,3.00000,1.00000,7.00000,12.00000,0.00000,3.00000,1.00000,1.00000,0.50000,0.48480,0.63000,0.19400,17.00000,115.00000,142.00000
75%,13034.50000,3.00000,1.00000,10.00000,18.00000,0.00000,5.00000,1.00000,2.00000,0.66000,0.62120,0.78000,0.25370,48.00000,220.00000,281.00000
max,17379.00000,4.00000,1.00000,12.00000,23.00000,1.00000,6.00000,1.00000,4.00000,1.00000,1.00000,1.00000,0.85070,367.00000,886.00000,977.00000